<?php
return array(
    'modules' => array(
        'Application',
        'LdcZendFormCTI',
        'ExampleModule',
    ),
    'module_listener_options' => array(
        'module_paths' => array(
            './module',
            './vendor',
            'LdcZendFormCTI' => '../../src',
        ),
        'config_glob_paths' => array(
            'config/autoload/{,*.}{global,local}.php'
        )
    )
);